<div class="card text-center">

  <div class="card-body">
    <%= image_tag "https://s3.us-east-2.amazonaws.com/sample-app47/footer_cityscape.png" %>

  <div class="card-footer text-muted">
    Copyright &copy 2019 Yelp Inc. Yelp, and related marks are registered trademarks of Yelp
  </div>
</div>